* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ededde;
  font-family: monospace;
}
select {
  display: inline-block;
}
#root {
  margin: 0 auto;
  max-width: 500px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.center {
  justify-content: center;
}
.license {
  margin-top: 2rem;
}
.social-media-link {
  margin-top: 2rem;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
}
.instagram-icon {
  height: 40px;
  margin-right: 1rem;
  width: 40px;
  background-color: black;
  mask: url("./../assets/instagram.svg") no-repeat center / contain;
}

.button,
.dropdown {
  font-family: monospace;
  border-radius: 4px;
  display: inline-block;
  margin: 0 0 1rem;
  padding: 0 1em;
  height: 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: white;
}
.button:hover,
.dropdown:hover {
  background-color: #f1f1f1;
}
.dropdown option:before {
  content: "V";
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: ;
}
